<h1 class="display-4 text-center my-3">Register</h1>
<form
  [formGroup]="regForm"
  class="row"
  (ngSubmit)="submit()"
  *ngIf="status == 2; else loading"
>
  <div class="col-12 col-md-6 mb-3">
    <label class="form-label" for="name">Name</label>
    <input
      id="name"
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="Restaurant's name..."
      [ngClass]="{ 'is-invalid': getName().touched && getName().invalid }"
    />
    <small
      class="invalid-feedback"
      *ngIf="getName().touched && getName().invalid"
    >
      Please enter your restaurant's name.
    </small>
  </div>
  <div class="col-12 col-md-6 mb-3">
    <label class="form-label" for="owner">Owner</label>
    <input
      id="owner"
      type="text"
      class="form-control"
      formControlName="owner"
      placeholder="Owner's name..."
      [ngClass]="{ 'is-invalid': getOwner().touched && getOwner().invalid }"
    />
    <small
      class="invalid-feedback"
      *ngIf="getOwner().touched && getOwner().invalid"
    >
      <span>Please enter owner name.</span>
    </small>
  </div>
  <div class="col-12 col-md-6 mb-3">
    <label class="form-label" for="email">Email</label>
    <input
      id="email"
      type="email"
      class="form-control"
      formControlName="email"
      placeholder="Email address..."
      [ngClass]="{ 'is-invalid': getEmail().invalid && getEmail().touched }"
    />
    <small
      class="invalid-feedback"
      *ngIf="getEmail().invalid && getEmail().touched"
    >
      <span *ngIf="getEmail().errors.required">
        Please enter your restaurant's email.
      </span>
      <span *ngIf="getEmail().errors.email">Please enter a valid email.</span>
    </small>
  </div>
  <div class="col-12 col-md-6 mb-3">
    <label class="form-label" for="contact">Contact No.</label>
    <div class="input-group">
      <span class="input-group-text">+91</span>
      <input
        type="text"
        id="contact"
        class="form-control"
        formControlName="contact"
        placeholder="Contact number..."
        [ngClass]="{
          'is-invalid': getContact().invalid && getContact().touched
        }"
      />
      <small
        class="invalid-feedback"
        *ngIf="getContact().invalid && getContact().touched"
      >
        <span *ngIf="getContact().errors.required">
          Please enter your contact no.
        </span>
        <span
          *ngIf="getContact().errors.pattern || getContact().errors.maxlength"
        >
          Please enter a valid contact no.
        </span>
      </small>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="city">City</label>
    <input
      id="city"
      type="text"
      class="form-control"
      formControlName="city"
      placeholder="City your restaurant's in..."
      [ngClass]="{ 'is-invalid': getCity().touched && getCity().invalid }"
    />
    <small class="is-invalid" *ngIf="getCity().touched && getCity().invalid">
      <span>Please enter the city you restaurant is in.</span>
    </small>
  </div>
  <div class="mb-3">
    <label class="form-label" for="address">Address</label>
    <textarea
      rows="3"
      cols="30"
      id="address"
      class="form-control"
      formControlName="address"
      placeholder="Restaurant's address..."
      [ngClass]="{ 'is-invalid': getAddress().touched && getAddress().invalid }"
    ></textarea>
    <small
      class="invalid-feedback"
      *ngIf="getAddress().touched && getAddress().invalid"
    >
      Please enter your restaurant's address.
    </small>
  </div>
  <div class="mb-3">
    <label class="form-label" for="password">Password</label>
    <input
      id="password"
      type="password"
      class="form-control"
      formControlName="password"
      placeholder="Password..."
      [ngClass]="{
        'is-invalid': getPassword().invalid && getPassword().touched
      }"
    />
    <small
      class="invalid-feedback"
      *ngIf="getPassword().invalid && getPassword().touched"
    >
      <span *ngIf="getPassword().errors.required">
        Please enter a password.
      </span>
      <span *ngIf="getPassword().errors.minlength">
        Enter atleast 8 characters.
      </span>
    </small>
  </div>
  <div class="d-flex justify-content-center mb-3">
    <button class="btn btn-primary mr-2" type="submit">Register</button>
    <button class="btn btn-danger" type="reset">Reset</button>
  </div>
</form>
<ng-template #loading>
  <spinner></spinner>
</ng-template>
