<div class="input-group my-3">
  <input
    type="search"
    [(ngModel)]="search"
    placeholder="Search Here..."
    class="form-control"
  />
  <button class="btn btn-warning" (click)="submit()">
    <i class="fa fa-lg fa-search mr-1"></i> Search
  </button>
</div>
<div *ngIf="dishes != null && dishes.length != 0; else loading">
  <div class="row g-3">
    <dish
      class="col-lg-4 col-md-6 col-12"
      *ngFor="let dish of dishes"
      [dish]="dish"
    ></dish>
  </div>
  <pagination link="/user/dashboard" [page]="this.page"></pagination>
</div>
<ng-template #loading>
  <spinner *ngIf="status == 1"></spinner>
  <empty *ngIf="status == 2"></empty>
</ng-template>
